<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list list-inset">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input id="emailbox" type="text" placeholder="EMAIL">
        </label>
      </div>

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input id="pwdbox" type="text" placeholder="PASSWORD">
        </label>
      </div>

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input id="server_box" type="text" placeholder="SERVER">
        </label>
      </div>

      <label class="item item-input item-select">
        <div class="input-label">
          &nbsp;
        </div>
        <select id="ssidselector">
          <option ng-repeat="ssid in ssids" value={{ssid}}>{{ssid}}</option>
        </select>
      </label>

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input id="pskbox" type="text" placeholder="SSID PSK">
        </label>
      </div>

    </div>
    <button ng-click="submitButton()" class="button button-full button-positive">
      Full Width Block Button
    </button>
  </ion-content>
</ion-view>
